<div class="container" style="height: 100vh">
  <a href="/home"><button class="mt-2 btn btn-primary">Quay lại</button></a>
  <div class="row">
    <!-- Phần trái -->
    <div class="col-md-6" style="border-right: 1px solid #ccc;">
      <div class="col-md-12 mt-2">
        <h4>Danh sách bạn</h4>
        <div class="card">
          <div class="card-body" style="min-height: 85vh;max-height: 85vh; overflow-y: auto">
            <div class="card mt-4 shadow">
              <div class="card-body d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://robohash.org/avatar.png?size=75x75" class="rounded-circle img-fluid" />
                  <div>
                    <p class="card-title">Phạm Let</p>
                    <p class="card-text">Củ cải nè</p>
                  </div>
                </div>
                <button class="btn text-white" style="background-color: red">
                  Xóa kết bạn
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Thêm nội dung khác nếu cần -->
      </div>
    </div>
    <!-- Phần phải -->
    <div class="col-md-6">
      <div class="col-md-12">
        <h4 class="mt-2 mb-3">Tìm kiếm</h4>
        <div>
          <div class="form-group mt-3">
            <input class="form-control" placeholder="Sđt" />
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body" style="min-height:79vh; max-height: 79vh; overflow-y: auto">
            <div class="card mt-4 shadow">
              <div class="card-body d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://robohash.org/avatar.png?size=75x75" class="rounded-circle img-fluid" />
                  <div>
                    <p class="card-title">Phạm Let</p>
                    <p class="card-text">Củ cải nè</p>
                  </div>
                </div>
                <button class="btn btn-primary">Kết bạn</button>
              </div>
            </div>
            <!-- Thêm nội dung khác nếu cần -->
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
</div>
