<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img
              class="mb-3"
              src="https://robohash.org/avatar.png"
              alt="Avatar"
            />
            <h2 class="name">Phạm Let</h2>
            <p class="email">tihl987456@email.com</p>
          </div>
        </div>
      </div>

      <div class="card mt-2 d-none" id="edit-info">
        <div class="card-body">
          <div class="form-group">
            <span>Tên Người dùng</span>
            <input class="form-control" type="text" placeholder="tên" />
            <span>Email</span>
            <input class="form-control" type="text" placeholder="email" />
            <div class="mt-2 text-center">
              <button class="btn btn-primary">Thay đổi thông tin</button>
              <button
                class="btn ms-2 text-white"
                style="background-color: red"
                (click)="editInfo()"
              >
                Hủy bỏ
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <div class="text-center">
            <a href="/home"> <button
              class="btn btn-primary"
            >
              Quay lại
            </button></a>
            <button
              class="btn ms-2 btn-primary"
              id="btn-edit-info"
              (click)="editInfo()"
            >
              Thay đổi thông tin
            </button>
            <button class="btn ms-2 text-white" style="background-color: red" (click)="logout()">
              Đăng xuất
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
